@media screen and (max-width: 768px) {
    .toggle__menu {
        display: block;
    }

    .nav {
        display: none;
    }

}
@media screen and (max-width: 568px) {

    .mainvisual__img {
      width: 300px;
    }
    
  }
  